* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  background: #ebf2f5;
}

:root {
  font-size: 62.5%;
}

body,
input,
button,
textarea {
  /* font-weight: 400;
    font-size: 18px;
    line-height: 1;
    font-family: 'Nunito', sans-serif;
    
    a de baixo pega as informações das de cima */

  font: 400 18px/1 "Nunito", sans-serif;
}
